@use "parts/mixin.scss";

#contact_header {
    position: relative;
    // background: url("/img/pic/contact/contact_header.jpg") center center / cover no-repeat;
    
    .container__contact {
        position: relative;
    }
    .headline_hero {
        width: 95%;
        margin-top: max(19vh, 20px);
    }

    #open-time {
        position: absolute;
        width: resp(696, 250, 768);
        right: 0;
        bottom: max(12vh, 52px);
        .open-time__days {
            display: flex;
            justify-content: space-between;
        }
        .line {
            margin-top: resp(38, 1, 768);
            width: 100%;
            border-bottom: resp(2, 1, 768) white dotted;
        }
        .open-time__shift {
            margin-top: resp(38, 1, 768);
            display: flex;
            justify-content: space-between;
        }
    }

    @include media(480) {
        .headline_hero {
            margin-top: 50px;
        }
    }

}