@use "parts/mixin.scss";

#menu_header {
    position: relative;

    .container__header {
        min-height: resp(650, 450, 768);
    }

    .headline_hero {
        width: resp(779, 350, 768);
        margin-top: max(13vh, 85px);
        @include media(480) {
            width: 95%;
        }

    }
}
