@use "parts/mixin.scss";

#starters {
    overflow: hidden;

    .container__starters {
        position:relative;
        padding: resp(122, 50, 768) 0 resp(140, 60, 768);
        
    }
    .blueberry__svg {
        position: absolute;
        @include rectVW(516, 439, 480);
        top: resp(-39.15, 0, 700);
        right: resp(-109, -70, 700 );
        z-index: -2;
    }

    .headline__title {
        text-align: center;
    }
    .headline__text {
        text-align: center;
    }

    .starters__menu {
        margin-top: resp(81, 40, 768);
        display: flex;
        position: relative;
    }

    .img {
        @include rectVW(782, 989, 700);
    }
    
    .pricelist__items{
        margin: 0 resp(60, 30, 700);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    @include media(700) {

        .blueberry__svg {
            width: resp(150, 110, 480, 700);
            top: -20px;
            right: resp(-50, -40, 480, 700);
        }

        .img {
            height: 100%;
            width: auto;
            position: absolute;
            z-index: -1;
            opacity: .4;
        }
        .pricelist__items {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 50px;
            width: 100%;
        }
        .pricelist__item {
            width: mixin.resp(400, 305, 480, 700);
            &:nth-child(even){
                justify-self: right;
            }
        }
    }

    @include media(480) {
        .img {
            width: 100%;
            height: auto;
            height: 100%; 
            object-fit: cover;
        }

        .pricelist__items {
            margin: 0;
        }
        .pricelist__item {
            width: min(90%, 290px);

            justify-self: center;
            &:nth-child(even){
                justify-self: center;
            }
        }
    }
}