@use "parts/mixin.scss";
body {
    position: relative;
    
}

.container {
    width: min(var(--container-w), toVW(1644));
    margin: 0 auto;
}

.fullscreen_height { 
    min-height: resp(580, 250, 768);
    height: 100vh;
    @include media(768) {
        min-height: 450px;
    };
}
.fullscreen_height_scroll { 
    min-height: resp(700, 250, 768);
    height: 100vh;
    @include media(768) {
        min-height: 450px;
    };
}

.header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -2;
    height: 100%;

}

.headline_hero {
    @include media(600) {
        @include mixin.marginHorizontal();
    }
    .headline__title, .headline__text {
        color: var(--c-white);
    }
    .headline__text{
        margin-top: mixin.resp(50, 20, 768);
    }
}


.headline_considerable {
    .headline__subtitle {
        margin-top: resp(28, 5, 768);
    }
}

.headline_large {
    .headline__text {
        margin-top: mixin.resp(18, 8, 768);
    }
}
.headline_posts {
    .posts__labels {
        margin-top: resp(18, 5, 768);
    }
}
.headline_blog {
    
    .headline__title {
        position: relative;
        color: var(--c-000000);
        
    }
    .headline__excerpt {
        position: relative;
        margin-top: resp(40, 12, 768);
        &:before {
            content: "";
            position: absolute;
            top: resp(-18, -6, 768);
            width: 100%;
            border-bottom: dotted resp(4, 2, 768) var(--c-000000);
    
            }
    }
}

.headline_detail {
    width: resp(452, 180, 768);
    .headline__text {
        margin-top: resp(12, 4, 768);
        
    }   
}

.title_large {
    font-family: Rufina;
    @include fontResp(148, 43.5, 152, 480);
    font-weight: 700;
    @include media(480){
        @include fontResp(43.5, 40, 110%, 320, 480);
    }
}

.headline_1 {
    font-family: Rufina;
    @include fontResp(108, 31.8, 120, 480);
    font-weight: 700;
    @include media(480) {
        @include fontResp(31.8, 31.8, 111%, 320, 480);
    }
}

.headline_2 {
    font-family: Rufina;
    @include fontResp(88, 24, 120%, 480);
    font-weight: 700;
    line-height: 120%; /* 105.6px */
}

.headline_3 {
    font-family: Rufina;
    @include fontResp(68, 20, 84, 480);
    font-weight: 700;
    @include media(480){
        @include fontResp(20, 20, 123%, 320, 480);
    }
}

.headline_4 {
    font-family: Rufina;
    @include fontResp(48, 17, 64, 768);
    font-weight: 700;
    @include media(480) {
    @include fontResp(14, 14, 18.7, 768);

    }
}
.headline_5 {
    font-family: Rufina;
    @include fontResp(32, 16, 150%, 768);
    font-weight: 700;
}
.text_filter {
    font-family: Lato;
    // font-size: resp(34, 17, 140%, 768);
    @include fontResp(34, 17, 140%, 768);
    font-weight: 400;
    letter-spacing: 2.04px;
}

.text_body{
    font-family: Lato;
    @include fontResp(24, 10, 140%, 768);
    font-weight: 400;
    letter-spacing: 0.48px;
}
.text_body-cap{
    font-family: Lato;
    @include fontResp(24, 10, 140%, 768);
    font-weight: 400;
    letter-spacing: 0.48px;
    text-transform: capitalize;
}
.text_widget {
    font-family: Lato;
    @include fontResp(18, 9, 25, 480);
    font-weight: 400;
    letter-spacing: 0.36px;
}

.text_excerpt {
    font-family: Lato;
    @include fontResp(22, 11, 140%, 480);
    font-weight: 700;
    letter-spacing: 0.44px;
}
.text_label {
    font-family: Lato;
    @include fontResp(18, 9, 25, 768);
    font-weight: 400;
    letter-spacing: 0.36px;
}
.text_hint {
    font-family: Lato;
    @include fontResp(16, 8, 25, 768);
    font-weight: 400;
    letter-spacing: 0.36px;
}

.breadcrumbs {
    color: var(--c-B0B0B0);
}
.breadcrumbs_active {
    color: var(--c-000000);
}

.nav_item {
    font-family: Rufina;
    font-weight: 700;
    text-transform: uppercase;
    @include fontResp(66, 30, 66, 768);
    color: white;
}
.nav_subitem {
    font-family: Rufina;
    font-weight: 400;
    @include fontResp(24, 17, 24, 768);
    color: white;
    
}

.button {
    border: 2px solid var(--c-black);
    color: var(--c-white);
    height: resp(88, 43, 768);
    line-height: resp(88, 43, 768);
}
.button_nav {
    font-size: resp(32, 20, 768);
    background: var(--khaki);
    border-color: var(--c-white);
    padding: 0 resp(46, 20, 768);
}
.button_fashion {
    // 203-97=106/2=53
    padding: resp(7, 3, 768) resp(53, 25, 768);
    background: var(--c-5E6600);
    border: none;
    @include rectResp(203, 62, 100, 30, 768);
    @include fontResp(26, 14, 48, 768);

    @include media(768) {
        @include rectResp(100, 30, 80, 25, 600, 768);
        padding: resp(3, 0, 480, 768) resp(25, 12, 600, 768);
        @include fontResp(14, 12, 20, 600, 768);
    }
}
.button_book-now{
    background: var(--c-233000);
    padding: 0 resp(94.5, 45, 768);
}
.button_submit {
    background: var(--c-5E6600);
    padding: 0 resp(46, 22, 768);
}
#button_up {
        position: fixed;
        color: var(--c-white);
        right: 2%;
        bottom: 5%;
        font-size: resp(20, 20, 768);
        border: var(--c-black) 2px solid;
        font-weight: 900;
        box-shadow: 0px 0px 3px 3px var(--c-9CAA00);
        background: var(--c-233000);
        padding: resp(10, 5, 768);
}
.button_loading {
    padding: resp(10, 3, 768) resp(40, 15, 768);
}
.button_pagination {
    padding: resp(10, 3, 768) resp(20, 8, 768);

}

.input {
    border: solid resp(3, 2, 768) var(--c-black);
    padding: 0 resp(40, 20, 768);
    height :resp(96, 43, 768);
    line-height: resp(96, 43, 768);
}

.pricelist__items {
    .item__price {
        text-align: right;
        border-bottom: 4px dashed var(--c-black);
    }
    .item__name {
        margin-top: mixin.resp(24, 10, 768);
    }
    .item__desc {
        margin-top: mixin.resp(24, 10, 768);
    }
}


.scroll {
    font-family: Rufina;
    @include mixin.fontResp(48, 20, 46, 768);
    transform: rotate(90deg) translate(50%, 100%);
    @include mixin.media(768) {
        @include mixin.fontResp(30, 25, 90%, 480);
    }
}

.icon__arrow {
    @include fontVW(28, 100%, 768);
}

.filter_active {
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: resp(4, 2, 768) var(--c-black) dotted;
        bottom: resp(-5, 2, 768);
        left: 0;

    }
}



.invisible {
    display: none;
}
.visible {
    display: block;
}

.white {
    color: var(--c-white);
}
.black {
    color: var(--c-black);
}
.olive {
    color: var(--c-9CAA00);
}


.desktop {
    display: block;
    @include media(480) {
        display: none;
    }
}
.phone {
    display: none;
    @include media(480) {
        display: block;
    }
}
.phone_disable {
    @include media(480) {
        display: none;
    }
}


