@use "parts/mixin.scss";

#form-reservation {
    background: var(--c-EBF0E4);
    .form-reservation__container {
        padding: toVW(237, 650) 0 toVW(254, 650);

    }

    .headline_large {
        margin: 0 auto;
        width: fit-content;
    }
    .headline__text {
        text-align: center;
    }

    .form-reservation {
        margin-top: resp(133, 70, 768);
    }
    .form-reservation__input {
        display: flex;
        justify-content: space-between;
    }
    .input__reservation {
        width: resp(516, 206);
        @include media(768) {
            width: resp(207, 125, 480, 768);
        }
        
    }

    .submit__btn {
        display: block;
        margin: 0 auto;
        margin-top: resp(133, 70, 768);
    }
    
    // #region M E D I A /=======================================================
    @include media(480) {
        .headline_large {
            text-align: center;
        }

        .form-reservation {
            margin-top: 30px;
        }
        .form-reservation__input {
            flex-direction: column;
        }
        .input{ 
            margin: 0 auto;
            width:250px;
            // @include rectResp(205, 38, 220, 38, 320, 480);
            margin-top: 20px;
        }
        .submit__btn {
            margin-top: 50px;
        }
    }
    // #endregion
}