@use "parts/mixin.scss";

// #region M E D I A /##################################################

// #region: 768 px /====================================================

@media (max-width: 768px) {

    .navigation {
        grid-template-columns: auto 1fr auto;

        .hamburger {
            justify-self: right;
        }

        .tel {
            display: none;
        }
        
        .button__reservation{
            order: 1;
            justify-self: center;
        }
    }
        // #regionheader
    .header__container {
        grid-template-areas: 
        "title title" 
        "meat meat"
        "soup soup"
        "spices2 spices2" ;
    }

    .home-cell__title {
        height: 100px;
    }
    
    .title-page__home {
        width: 100%;
        line-height: 120%;
    }
    
    .text-mid__home-subtitle{
        width: 35%;
    }

    .scroll_left {
        top: mixin.resp(330, 280, 480, 768);

        &::after {
        width: mixin.resp(200, 100, 480, 768);
        }
    }

    .home-cell__meat {
            margin-top: mixin.resp(150, 10, 480, 768);
            margin-bottom: mixin.resp(100, 10, 480, 768);
    }
    .home-img__meat {
        margin-left: 40%;
        width: 60%;
        height: auto;
    }

    .list-img__spices3 {
        right: 0;
        & :nth-child(1){
            @include mixin.rectResp(92, 90, 62, 60, 480, 768);
            margin-left: 0;
        }
    
        & :nth-child(2){
            @include mixin.rectResp(94, 90, 64, 60, 480, 768)
        }
    
        & :nth-child(3){
            @include mixin.rectResp(96, 90, 66, 60, 480, 768)
        }
    }

    .list-img__spices3 {
        top: mixin.resp(160, 70, 480, 768);
        left: 35%;
        flex-direction: column;
        li {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    .home-cell__soup {
        display: grid;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: 55% 40%;
        grid-template-rows: auto auto;
        column-gap: 5%;
    }

    .home-img_soup {
        
        width: 100%;
        height: auto;
        // margin-top: 0;
        grid-area: img;
    }

    .title-mid__soup {
        
        margin-top: 0;
        grid-area: title;
        width: 100%;
       @include mixin.media(720, 601) {
            line-height: 105%;
       }
    }

    .text-mid__soup {
        margin-top: 0;
        grid-area: subtitle;
        width: 100%;
    }

    .home-cell__spices2 {
        display: flex;
        width: 100%;
        // margin-top: mixin.resp(100, 50, 480);
        justify-content: space-around;
    }

    .text-mid__spices2 {
        align-self: center;
        justify-self: left;
    }

    .home-img_spices2 {
        margin-top: 0;
        justify-self: right;
    }

    
} //#endregion

// #region: 600 px /====================================================

@media (max-width: 600px) {
    .home-cell__soup {
        grid-template-areas: 
        "title"
        "img"
        "subtitle";
        grid-template-columns: 1fr;
        justify-content: left;
    }

    .title-mid__soup {
        width: 50%;
        text-align: right;
    }

    .home-img_soup {
        margin: max(6%, 20px) 0 0 10%;
        width: 80%;
    }

    .text-mid__soup {
        margin: max(6%, 20px) 10% 0 30%;
        width: 60%;
        text-align: left;  
    }
}  // #endregion

// #region: 480 px /============================================

@media (max-width: 480px) {
    .navigation {
        .button__reservation {
            display: none;
        }
    }

    .header__container{
        grid-template-areas:
        "title"
        "meat"
        "soup"
        "spices2";
        grid-template-columns: 1fr;
    }

    .home-cell__title {
        height: auto;
    }
    .home-title__wrapper {
        position: static;
    }
    // .title-page__home {
    //     // margin-top: mixin.resp(80, 50, 320, 480);
    // }
    .text-mid__home-subtitle {
        width: auto;
        margin-left: mixin.resp(100, 0, 320, 480);
    }
    .scroll {
        display: none;
    }

    .home-cell__meat {
        
    }
    // 55px
    .home-img__meat {
        width: 90%;
        margin-left: 10%;

    }
    .list-img__spices3{
        flex-direction: row;
        left: 0;
        top: mixin.resp(340, 220, 320, 480);
        // 400
        & :nth-child(1){
            @include mixin.rectResp(92, 90, 62, 60, 320, 480);
            margin-left: 0;
        }
        & :nth-child(2){
            @include mixin.rectResp(94, 90, 64, 60, 320, 480)
        }
        & :nth-child(3){
            @include mixin.rectResp(96, 90, 66, 60, 320, 480)
        }
        li{
            margin-left: mixin.resp(44, 15, 768);
        }
    }

    .title-mid__soup {
        width: 100%;
        text-align: center;
    }
    .text-mid__soup {
        @include mixin.marginHorizontal;
        width: 90%;
        text-align: center;

    }

    .home-cell__spices2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    // .home-img_spices2 {

    // }
    .text-mid__spices2 {
        margin-top: max(10%, 20px);
        align-self: end;
    }


}  /* #endregion */

