@use "parts/mixin.scss";
.body{
     position: relative;
}

#navigation {
    height: toVW(208,768);
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto 1fr auto;

    .label {
        justify-self: left;
        position: relative;
        order: 1;
    }
    .label__text {
        @include rectVW(307, 54, 768);
        color: var(--c-white);
    }
    .label__frame {
        position: absolute;
        left: 50%;
        top: 50%;
        @include rectVW(192, 115, 768);
        transform: translate(-50%, -50%);
    }
    .hamburger {
        height: fit-content;
        width: resp(94, 55, 768);
        justify-self: left;
        margin-left: 2.23vw;
        order: 2;
    }
    .tel {
        justify-self: right;
        font-family: Inter;
        font-size: resp(26, 16, 768);
        font-weight: 400;
        color: var(--c-FFFFFF);
        margin-right: resp(26, 18, 768);
        order: 3;
    }

    .button__reservation {
        justify-self: right;
        order: 4;
    }

    // #region M E D I A /#############################################

    @include mixin.media(768) {

            grid-template-columns: auto 1fr auto;
        .hamburger {
            justify-self: right;
        }
        .tel {
            display: none;
        }
        .button__reservation{
            order: 1;
            justify-self: center;
        }
    }

    @include media(480) {
        .button__reservation {
            display: none;
        }
    }
    // #endregion


}
