@use "parts/mixin.scss";

#about_header {
    position: relative;

    .container__about {
        min-height: resp(650, 450, 768);


    }

    .headline_hero {

        width: resp(915, 400, 768);
        margin: 13vh  0 0 auto;
    }
}