@use "parts/mixin.scss";

#chef {
    background: var(--c-EBF0E4);

    .chef__container {
        position: relative;
        height: toVW(1130);
        padding-top: toVW(222);

    }
    .headline_large {
        margin: 0 0 0 auto;
        width: toVW(649);
    }
    .headline__text {
        margin-top: resp(18, 10, 768);
    }

    .leaf_left {
        position: absolute;
        top: resp(150, 60, 768);
        left: resp(-50, -20, 768);
        width: toVW(365);
        height: auto;

    }
    .leaf_right {
        position: absolute;
        top: resp(660, 260, 768);

        right: 0;
        width: toVW(456);
        height: auto;

    }
    
    .chef__img {
        position: absolute;
        top: toVW(234);
        left: 0;
        width: toVW(935);
        height: auto;

    }
    .wooden-with-plate__img {
        position: absolute;
        top: mixin.toVW(263);
        left: 0;
        width: toVW(460, 480);
        height: auto;

    }

    // #region M E D I A /============================================

    @include mixin.media(700) {

        .chef__container {
            overflow: hidden;
            height: resp(411, 345, 480, 700);
        }

        .headline_large {
            margin-right: mixin.resp(50, 0, 600, 700);
            width: mixin.resp(300, 200, 480, 700);
        }

        .leaf_left {
            top: mixin.resp(10, 20, 480, 700);
            left: mixin.resp(10, 20, 480, 700);
        }
        .leaf_right {
            top: mixin.resp(100, 90, 480, 700);
        }
        
        .chef__img {
            width: mixin.resp(340, 300, 480, 700);
            left: mixin.resp(-110, -97, 480, 700);
        }
        .wooden-with-plate__img {
            top: mixin.resp(180, 186, 480, 700);
            left: auto;
            right: mixin.resp(70, 50, 480, 700);
            rotate: 90deg;
        }
    }

    @include mixin.media(480) {
        .chef__container {
            height: 462px;
            padding-top: resp(80, 80, 320, 480);
        }

        .headline_large {
            margin: 0 auto;
            width: 90%;
        }
        .headline__title {
            text-align: center;
        }

        .leaf_right {
            top: 300px;
        }

        .chef__img {
            top: 200px;
            width: toVWSizeLimit(935, 274);
            left: 50%;
            transform: translate(-50%);
        }
        .wooden-with-plate__img {
            rotate: 0deg;
            right: auto;
            width: 125px;
            left: resp(75, 7, 320, 480);
            top: resp(220, 220, 320, 480);

        }
    }
    // #endregion /===================================================
}