@use "parts/mixin.scss";

#our-menu {
    position: relative;

    .our-menu__container {
        padding: mixin.resp(176, 70, 768) 0 mixin.resp(218, 87, 768) 0;
    }

    .headline_large {
        width: mixin.resp(532, 260, 768);
    }

    .branch__img {
        @include mixin.rectVW(880, 946, 768);
        position: absolute;
        top: 0;
        right: 0px;
    }

    .pricelist__items {
        margin-top: mixin.resp(158, 70, 768);
        display: grid;
        grid-template-columns: repeat(2,  mixin.toVW(792));
        row-gap: mixin.resp(108, 50, 768);
        justify-content: space-between;
    }
    .pricelist__item {
        width: mixin.toVW(792);
    }
    
    


    // #region M E D I A /=============================================
    @include mixin.media(700) {
        .branch__img {
            // width: (352, 480, 700);
            width: resp(352, 200, 480, 700);
            // width: resp(150, 110, 480, 700);

            height: auto;
        }
        .pricelist__items {
            grid-template-columns: 1fr;
            justify-items: right;
        }
        .pricelist__item {
            width: mixin.resp(400, 305, 480, 700);
            &:nth-child(odd){
                justify-self: left;
            }
        }
    }
    
    @include mixin.media(480) {

        .branch__img {
            width: resp(200, 150, 320, 480);

        }
        .headline_large {
            margin: 0 auto;
        }
        .pricelist__items{
            row-gap: mixin.resp(50, 30, 320, 480);
            justify-items: center;
        }
        .pricelist__item{
            width: min(90%, 290px);
            &:nth-child(odd) {
                justify-self: center;
            }
        }
        
    }
    // #endregion
}